PORT=8080

FirebaseAppId=
FirebaseWebApiKey=
GOOGLE_APPLICATION_CREDENTIALS=serviceaccount.json
GOOGLE_APPLICATION_CREDENTIALS_CONTENT='json string'

PartnerAdsKey=
AdtractionApiKey=
AdtractionChannelId=

GRAFANA_CLOUD_OTEL_INSTANCE_ID=
GRAFANA_CLOUD_OTEL_KEY=

SLACK_WEBHOOK_URL=